
out
*.iml
# modules.xml
APDescription.txt
MTPs-Main-Container.txt
AIAD-FEUP.iml

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/*.iml


# Gradle:
.idea/gradle.xml
.idea/libraries
